# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Model files
models/*.pkl
models/*.joblib
models/*.h5
models/*.keras

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log